h1{
    font-size: 50px;
    color: #34eb4c;
    background-color:#e6f7e8;
    background: #416646;
    padding: 1,5cm;
}

h2{
    font-size: 70px;
    color: #0cbbe7;
    background-color:#ffffff;
    background: #254f5c;
    padding: 1,5cm;

}
#btn_ok{
    background-color:rgb(234, 238, 12);
    color: rgb(138, 138, 43);
    font-size: 30px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 30px;
    margin: 0px, 0px, 0px, 500px
}
#area{
background-color: pink;
}
